body{
	background-color: #FFFFFF;
}
.sc-header {
	background-color: #DFDFDF;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 20px;
	text-align: center;
}

.key-text {
	font-family: "courier new";
	text-align: right;
}
svg {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.keyboard-container {
	margin: 0px;
	background-color: #D0D0D0;
}

#keyboard {

}

#graphs {
	margin-left: 0px;
	margin-right: 0px;
}

.x.axis path {
	fill: steelblue;

	/*visibility: hidden;*/
}
