#color-background {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0; }

.sc-header {
  width: 100%;
  padding-top: 20px;
  text-align: center; }

.key-text {
  font-family: "courier new";
  text-align: right; }

svg {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.container {
  width: 100%; }

#reporting-panel {
  overflow-y: scroll; }

#key-graph {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  background-color: white; }

#heat-graph h1 {
  color: black;
  padding: 10px;
  font-style: italic; }

#heat-graph {
  width: 100%;
  margin: auto;
  background-color: white; }

#key-weights {
  bottom: 30px;
  height: 250px;
  max-width: 530px;
  margin: 0 auto; }

#slider-group {
  width: 70%;
  max-width: 500px;
  margin: 0 auto; }

input.weight-slider {
  width: 350px;
  float: left;
  margin-right: 10px; }

.keyboard-container {
  margin: 0px;
  margin-bottom: 10px; }

.x.axis path {
  fill: steelblue;
  /*visibility: hidden;*/ }

* {
  box-sizing: border-box; }

body {
  min-height: 100vh;
  line-height: 1.5; }

.header {
  position: fixed;
  z-index: 5;
  width: 100%; }

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
  .burger__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: white;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .burger__patty:last-child {
      margin-bottom: 0; }
  .burger--close {
    transform: rotate(180deg); }
    .burger--close .burger__patty:nth-child(1) {
      transform: rotate(45deg) translate(4px, 4px); }
    .burger--close .burger__patty:nth-child(2) {
      opacity: 0; }
    .burger--close .burger__patty:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -4px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu--active {
    visibility: visible; }
  .menu__graphs, .menu__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu__list {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.3);
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .menu__list--active {
      transform: translate3d(0, 0, 0); }
  .menu__graphs {
    background: rgba(255, 255, 255, 0.9);
    height: 100vh;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translate3d(0, 100%, 0); }
    .menu__graphs--active {
      transform: translate3d(0, 0, 0); }
  .menu__item {
    transform: translate3d(500px, 0, 0);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .menu__item--active {
      transform: translate3d(0, 0, 0); }
  .menu__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .menu__link:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: white;
      transform: translateX(-50%);
      transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .menu__link:hover {
      text-decoration: none;
      opacity: 0.6;
      color: white; }
      .menu__link:hover:before {
        width: 100%; }
  .menu .menu__item:nth-child(1) {
    transition-delay: 0.1s; }
  .menu .menu__item:nth-child(2) {
    transition-delay: 0.2s; }
  .menu .menu__item:nth-child(3) {
    transition-delay: 0.3s; }
  .menu .menu__item:nth-child(4) {
    transition-delay: 0.4s; }
  .menu .menu__item:nth-child(5) {
    transition-delay: 0.5s; }
  .menu .menu__item:nth-child(6) {
    transition-delay: 0.6s; }

@media screen and (max-width: 768px) {
  ul.menu__list,
  div.menu__graphs {
    float: none;
    width: 100%;
    min-height: 0;
    overflow-y: scroll; }
    ul.menu__list--active,
    div.menu__graphs--active {
      transform: translate3d(0, 0, 0); }

  .menu__list {
    height: 75vh;
    transform: translate3d(-100%, 0, 0); }

  .menu__link {
    font-size: 24px; }

  .menu__graphs {
    transform: translate3d(100%, 0, 0); } }
h1, h2, h3, p {
  margin: 0;
  font-weight: 400;
  color: white; }

.main {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 8vw; }
  .main h1 > a {
    color: white;
    text-decoration: none;
    font-size: 48px;
    font-weight: 300; }

.support {
  position: fixed;
  bottom: 24px;
  color: rgba(0, 0, 0, 0.6); }

/*# sourceMappingURL=style.css.map */
