$primary-color-1: #d45f7f;
$primary-color-2: #d457ec;

#color-background {
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0;
}

.sc-header {
	width: 100%;
	padding-top: 20px;
	text-align: center;
}

.key-text {
	font-family: "courier new";
	text-align: right;
}

svg {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.container {
	width: 100%;
}

#reporting-panel {
  overflow-y: scroll;
}

#key-graph {
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
  background-color: white;
}

#heat-graph h1 {
  color: black;
  padding: 10px;
  font-style:italic;
}

#heat-graph {
	width: 100%;
	margin: auto;
  background-color:white;
}

#key-weights {
  bottom: 30px;
  height: 250px;
  max-width:530px;
  margin: 0 auto;
}

#slider-group {
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
}

input.weight-slider{
  width: 350px;
  float: left;
  margin-right: 10px;
}

.keyboard-container {
	margin: 0px;
  margin-bottom: 10px;
}

#keyboard {

}

.x.axis path {
	fill: steelblue;

	/*visibility: hidden;*/
}

/////////////////////////////////////////////////////////
/////////// DEFAULT LAYOUT / FRONTEND STUFF /////////////
/////////////////////////////////////////////////////////

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0);
  @include easeOut;

  &__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: white;
    @include easeOut;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // transform burger into 'x'
  &--close {
    transform: rotate(180deg);

    .burger__patty {
      &:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &--active {
    visibility: visible;
  }

  &__graphs,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &__list {
    margin: 0;
    padding: 0;
    background: rgba(0,0,0, 0.3);
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__graphs {
    background: rgba(255, 255, 255, 0.9);
		height: 100vh;
    @include easeOut;
    transform: translate3d(0, 100%, 0);

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__item {
    transform: translate3d(500px, 0, 0);
    @include easeOut;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    @include easeOut;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: white;
      transform: translateX(-50%);
      @include easeOut;
    }

    &:hover {
			text-decoration: none;
			opacity: 0.6;
			color: white;
      &:before {
        width: 100%;
      }
    }
  }

  // add delay to each menu item
  @for $x from 1 through 6 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * .1s;
    }
  }
}

// responsive tablet view
@include tablet {
 ul.menu__list,
 div.menu__graphs {
  float: none;
  width: 100%;
  min-height: 0;
  overflow-y: scroll;

   &--active {
     transform: translate3d(0, 0, 0);
   }
 }

 .menu__list {
   height: 75vh;
   transform: translate3d(-100%, 0, 0);
 }

 .menu__link {
   font-size: 24px;
 }

 .menu__graphs {
   
   transform: translate3d(100%, 0, 0);
 }
}

h1, h2, h3, p {
  margin: 0;
  font-weight: 400;
	color: white;
}

.main {
	position: absolute;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 8vw;

  h1 > a {
    color: white;
    text-decoration: none;
    font-size: 48px;
    font-weight: 300;
  }
}

.support {
  position: fixed;
  bottom: 24px;
  color: rgba(black, 0.6);
}
